#main_index {
    background-color: $color-fondo;

    .productos_index {
        max-width: 1400px;

    }

    .icono_pago {
        display: flex;

    }

    .img_icono_pago {
        width: auto;
        height: 100%;
    }
}